/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --primary-color: #E06D06; /* Burned Orange */
    --secondary-color: #EEE4D3; /* White Bone */
    --accent1-color: #161616; /* Night Black */
    --accent2-color: #3435FF; /* Palatinate Blue */
    --heading-font: "Raleway", sans-serif;
    --paragraph-font: "Open Sans", sans-serif;
    --calloutbox-font: "Lora", serif;
    --nav-background-color:#EEE4D3;
    --nav-link-color: #3435FF;
    --nav-hover-link-color: #E06D06;
    --nav-hover-background-color:#EEE4D3;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    margin: 0 auto;
    max-width: 1280px;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    background-color: var(--accent1-color);
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 200px;
    height: auto;
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: var(--primary-color);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
}

body {
    background-color: var(--secondary-color); 
    font-family: var(--paragraph-font);
    font-weight: 300;
    color: var(--accent1-color);
    max-width: 1280px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    font-weight: 800;
    font-size: 3rem;
    margin-left: 10px;
}

h2 {
    font-weight: 500;
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

a footer{
    text-decoration: none;
}

footer{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 60px; 
    background-color: var(--accent1-color);
}

footer p {
    text-align: center; 
    flex: 1; 
    color: var(--nav-background-color);
}

.sociallinks {
    display: flex; 
}

.sociallinks a {
    margin-left: 10px; 
}


.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover; 
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero article {
    position: absolute; 
    bottom: 100px; 
    left: 100px; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    color: white; 
}

.hero article img {
    float: right; 
    margin-left: 10px; 
    width: 200px;
    height: auto;
}

.history-section {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-top: 50px;
    background-color: var(--accent1-color); 
}

.history-content {
    padding: 50px;
}

.history-content p {
    color: var(--nav-background-color);
    font-size: 1rem;
}

.history-image img {
    max-width: 200px;
    height: auto;
    padding: 20px;
}

.adventures-section{
    margin-bottom: 20px;
}

.adventures-container {
    display: flex;
}

figure {
    height: 200px;
}

figure img {
    max-width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

figcaption {
    text-align: center; 
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary-color);
}

/*  Styles for contact CSS */

#company-info {
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 20px;
    margin: 0 auto; 
    max-width: 600px;
    margin-bottom: 30px;
} 

#company-info p {
    font-size: 1.2rem;
    padding: 3px;
    margin-top: 5px;
    font-weight: 300;
}
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
    margin-top: 2px; 
}

#employee-profiles {
    text-align: center;
}

.employee {
    display: inline-block;
    margin: 20px; 
}

.employee img {
    border-radius: 50%; 
    height: 150px; 
    width: auto; 
}

.employee p {
    margin-top: 20px;
}

/* Form */

form {
    background-color: var(--secondary-color);
    font-size: 1rem;
    font-family: var(--paragraph-font); 
    color: var(--accent1-color);
    max-width: 650px; 
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

#contact-form h2 {
    text-align: center;
    margin: 20px;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1rem;
}

.form-group {
    margin-bottom: 15px; 
}

label {
    text-align: right;
    padding-right: 1rem;
}

form input[type="text"],
form textarea,
form select,
form input[type="number"] {
    margin-top: 5px; 
}

form button[type="submit"] {
    background-color: var(--primary-color); 
    color: #fafafa;
    border: none;
    padding: 10px 20px;
    font-family:  var(  --paragraph-font);
    font-size: 1.3rem;
    width: 100%;
    margin-top: 20px;
}

form button[type="submit"]:hover {
    background-color: var(--accent1-color); 
}

