@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #E06D06; /* Burned Orange */
    --secondary-color: #EEE4D3; /* White Bone */
    --accent1-color: #161616; /* Night Black */
    --accent2-color: #3435FF; /* Palatinate Blue } */

    --heading-font: "Raleway", sans-serif;
    --paragraph-font: "Open Sans", sans-serif;
    --calloutbox-font: "Lora", serif;

    --nav-background-color:#EEE4D3;
    --nav-link-color: #3435FF;
    --nav-hover-link-color: #E06D06;
    --nav-hover-background-color:#EEE4D3;

}

body {
    background-color: var(--secondary-color); 
    font-family: var(--paragraph-font);
    font-weight: 300;
    color: var(--accent1-color);
    max-width: 1280px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color:var(--primary-color);
}

h1 {
    font-weight: 800;
    font-size: 5rem;
}

h2 {
    font-weight: 500;
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}
a footer{
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: 100%;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}


.hero article {
    position: absolute; 
    bottom: 250px; 
    left: 20px; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    color: white; 
}

.hero article img {
    float: right; 
    margin-left: 10px; 
    width: 200px;
    height: auto;
}