/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --primary-color: #E06D06; /* Burned Orange */
    --secondary-color: #EEE4D3; /* White Bone */
    --accent1-color: #161616; /* Night Black */
    --accent2-color: #3435FF; /* Palatinate Blue */
    --heading-font: "Raleway", sans-serif;
    --paragraph-font: "Open Sans", sans-serif;
    --calloutbox-font: "Lora", serif;
    --nav-background-color:#EEE4D3;
    --nav-link-color: #3435FF;
    --nav-hover-link-color: #E06D06;
    --nav-hover-background-color:#EEE4D3;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    margin: 0 auto;
    max-width: 1280px;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    background-color: var(--accent1-color);
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 200px;
    height: auto;
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: var(--primary-color);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
}

body {
    background-color: var(--secondary-color); 
    font-family: var(--paragraph-font);
    font-weight: 300;
    color: var(--accent1-color);
    max-width: 1280px;
    width: 100%;
    margin: 0 auto; /* Centers the page horizontally */
    
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    font-weight: 800;
    font-size: 3rem;
    margin-left: 10px;
}

h2 {
    font-weight: 500;
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

a footer{
    text-decoration: none;
}

footer{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 60px; 
    background-color: var(--accent1-color);
}

footer p {
    text-align: center; 
    flex: 1; 
    color: var(--nav-background-color);
}

.sociallinks {
    display: flex; 
}

.sociallinks a {
    margin-left: 10px; 
}


.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover; 
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero article {
    position: absolute; 
    bottom: 100px; 
    left: 100px; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    color: white; 
}

.hero article img {
    float: right; 
    margin-left: 10px; 
    width: 200px;
    height: auto;
}

.history-section {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-top: 50px;
    background-color: var(--accent1-color); 
}

.history-content {
    padding: 50px;
}

.history-content p {
    color: var(--nav-background-color);
    font-size: 1rem;
}

.history-image img {
    max-width: 200px;
    height: auto;
    padding: 20px;
}

.adventures-section{
    margin-bottom: 20px;
}

.adventures-container {
    display: flex;
}

figure {
    height: 200px;
}

figure img {
    max-width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

figcaption {
    text-align: center; 
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary-color);
}

/*  Styles for contact CSS */

#company-info {
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 20px;
    margin: 0 auto; 
    max-width: 600px;
    margin-bottom: 30px;
} 

#company-info p {
    font-size: 1.2rem;
    padding: 3px;
    margin-top: 5px;
    font-weight: 300;
}
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
    margin-top: 2px; 
}

#employee-profiles {
    text-align: center;
}

.employee {
    display: inline-block;
    margin: 20px; 
}

.employee img {
    border-radius: 50%; 
    height: 150px; 
    width: auto; 
}

.employee p {
    margin-top: 20px;
}

/* Form */

form {
    background-color: var(--secondary-color);
    font-size: 1rem;
    font-family: var(--paragraph-font); 
    color: var(--accent1-color);
    max-width: 650px; 
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

#contact-form h2 {
    text-align: center;
    margin: 20px;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1rem;
}

.form-group {
    margin-bottom: 15px; 
}

label {
    text-align: right;
    padding-right: 1rem;
}

form input[type="text"],
form textarea,
form select,
form input[type="number"] {
    margin-top: 5px; 
}

form button[type="submit"] {
    background-color: var(--primary-color); 
    color: #fafafa;
    border: none;
    padding: 10px 20px;
    font-family:  var(  --paragraph-font);
    font-size: 1.3rem;
    width: 100%;
    margin-top: 20px;
}

form button[type="submit"]:hover {
    background-color: var(--accent1-color); 
}

/* Trips Page */

/* Hero Image */
.hero img {
    opacity: 0.7; /* Reduced opacity for a translucent effect */
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 25%;
    left: 25%; /* Adjusted left positioning */
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 4rem; /* Increased font size */
    padding: 10px 20px; /* Added padding for better readability */
}


/* Intro  */
.intro {
    color: var(--primary-color);
    font-weight: 500;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
    margin-bottom: 20px; /* Add some spacing between intro and CTA */
}

.intro p {
    font-size: 1.3rem;
}

.book-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 20px 40px;
    background-color: var(--primary-color); /* Use your primary color */
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.book-btn:hover {
    background-color: var(--accent1-color); /* Use your accent color */
}

/*  Grid */
.trip-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1280px;
}

.trip {
    width: calc(30% - 20px);
    margin: 20px 0;
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.trip img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.trip h2 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.trip p {
    margin-top: 10px;
    font-size: 1rem;
}

/*  Table */
.trip-table {
    margin: 20px auto;
    max-width: 800px;
}

.trip-table table {
    width: 100%;
    border-collapse: collapse;
}

.trip-table th,
.trip-table td {
    padding: 10px;
    border: 1px solid var(--accent1-color);
    text-align: center;
}

.trip-table th {
    background-color: var(--primary-color);
    color: white;
}

/* Hero Section */
.home-hero {
    position: relative;
    margin-bottom: 50px; /* Add space below the hero section */
}

.home-hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.65; 
}

.home-hero h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 8rem; 
    z-index: 1; 
    text-align: center; 
    width: 80%; 
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    margin: 0; 
}


/* Grid Layout Section */
.home-grid-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-grid-item p {
    font-size: 1rem; 
    word-wrap: break-word; 
}

.home-grid-item h3 {
    font-size: 1.5rem; 
    font-weight: bold; 
    margin-bottom: 10px; 
    word-wrap: break-word; 
}

.home-grid-item {
    width: calc(50% - 20px);
    margin-bottom: 50px;
    text-align: center; 
}

.home-grid-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px; 
    max-width: 300px;
}

/* Call to Action Section */
.call-to-action {
    margin-bottom: 50px; 
    margin: 0 auto;
    text-align: center; 
}

.call-to-action h2 {
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 3rem; 
    font-weight: 700;
}

.call-to-action .button {
    display: inline-block;
    padding: 20px 40px; 
    background-color: var(--primary-color); 
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.call-to-action .button:hover {
    background-color: var(--accent1-color); 
}

/* Newsletter Section */
.home-newsletter {
    margin-bottom: 60px; 
    text-align: center; 
}

.home-newsletter h2 {
    margin-bottom: 60px;
    font-size: 3rem; 
    font-weight: 700; 
}


/* Lines between sections */
section {
    border-top: 1.5px solid var(--primary-color); 
    padding-top: 50px; 
    margin-top: 50px; 
}

section:first-child {
    border-top: none;
    padding-top: 0px; 
    margin-top: 0px; 

}
