* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

h1 {
    color: rgb(23, 57, 86);
    border-bottom: 2px solid steelblue;
    padding-bottom: 3px;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(23, 57, 86);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

header, .grid, footer {
    max-width: 840px;
    margin:0;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgb(0, 0, 0, 0.3);
    padding: 1em;
    background-color: #FAFAFA;
    color: rgb(23, 57, 86);
    text-align: center;
    position: relative;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 20px;
    left: 80px;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

p{
    padding: 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid rgb(23, 57, 86);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 1.5rem;
    background-color: #ddd;
    color: #000;
}


